.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #800000;
  font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
}

.App-link {
  color: #61dafb;
}

@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");

.wobbly-text-container {
  font-size: 5em;
  font-weight: 400;
  font-family: "Darumadrop One", sans-serif;
  color: #800000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wobbly-animation {
  filter: url(#noise);
}
